@font-face {
    font-family: 'Neue Haas';
    src: url('NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('NeueHaasDisplay-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas';
    src: url('NeueHaasDisplay-Bold.woff2') format('woff2'),
        url('NeueHaasDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas';
    src: url('NeueHaasDisplay-Light.woff2') format('woff2'),
        url('NeueHaasDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas';
    src: url('NeueHaasDisplay-Mediu.woff2') format('woff2'),
        url('NeueHaasDisplay-Mediu.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

