
@import '../../../node_modules/bootstrap/dist/css/bootstrap-grid.css';

html {
  --Trigon-Middle: #00850E;
  --Trigon-Dark: #032705;
  --Trigon-Light: #DDE7DA;
}

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  background: var(--light-green);
  color: var(--blue);
  --buble-size: 560px;
}

.relative {
  position: relative;
}

.main-app {

  form {
    .checkbox {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: center;

      input[type=checkbox] {
        position: absolute;
        bottom: 100%;
        right: 100%;
        margin: 0;
        width: 0;
        height: 0;
        visibility: hidden;

        & + span {
          display: inline-block;
          border: solid 2px var(--blue);
          box-sizing: border-box;
          width: calc( var(--input-height) / 1.5 );
          height: calc( var(--input-height) / 1.5 );
        }
        &.is-invalid + span {
          border: solid 2px var(--error);
        }
        &:checked + span {
          background-color: var(--blue);
        }
      }
    }
    .is-invalid {
      border-color: var(--error);
    }
    .form-submit {
      margin-top: var(--base-space);
    }
  }
  .app-container {
    flex: 1;
    position: relative;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  > div {
    background: #fff;
    border-radius: 100%;
    padding: calc(var(--base-space)*4);
    text-align: center;
    min-width: var(--buble-size);
    min-height: var(--buble-size);
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2.5rem;
      margin: 0;
    }

    p {
      font-size: 1.5rem;
      margin: var(--base-space) 0 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: calc(var(--base-space)*2);
      left: calc(var(--base-space)*2);
      width: calc(100% - var(--base-space)*4);
      height: calc(100% - var(--base-space)*4);
      border: dashed 4px var(--blue);
      border-radius: 100%;
      animation: rotate 15s infinite linear;
    }

    &.bounce-out {
      animation: popOut var(--view-animation-time) cubic-bezier(0.775, -0.600, 0.000, 1.605) forwards;
    }
  }
}

.head-bar {
  background: var(--Trigon-Middle, #00850E);
  display: flex;
  height: 72px;
  padding: 0px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-promo {
  padding: 112px 64px 48px 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  background: var(--Trigon-Dark, #032705);
  h1 {
    color: var(--Trigon-Light, #DDE7DA);
    font-family: Coconat;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
  }
  .hero {
    display: block;
    max-width: 100%;
    margin-left: 48px;
  }
  .lipper {
    position: absolute;
    left: 0;
    top: 22%;
  }
  .hero-graph {
    position: absolute;
    right: 0;
    top: 44%;
    width: 50%;
  }
}

.profits {
  color: var(--Trigon-Dark, #032705);

  h1 {
    text-align: center;
    font-family: Coconat;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
  }
}
.person {
  text-align: center;
}